<div class="row">

    <div class="contenedor_vacaciones">
        
        <div class="vacaciones_datos">

            <div class="contenedor__encargado">
                

                <div class="mb-3 mt-5">
                    
                    <label 
                        for="aprobador" 
                        class="form-label">Nombre de aprobador
                    </label>

                    <input 
                        class="form-control" 
                        id="aprobador"
                        type="email" 
                        disabled
                        value="Marco Dominguez"
                    />
                </div>

                <div class="mb-3 mt-4">
                    
                    <label 
                        for="solicitante" 
                        class="form-label">Nombre del solictante
                    </label>

                    <input 
                        class="form-control" 
                        id="solicitante"
                        type="email" 
                        disabled
                        value="Juan Manul Lule medina"
                    />
                </div>

                <div class="mt-4">
                    
                    <label 
                        for="diasRestantes" 
                        class="form-label">Dias restantes
                    </label>

                    <input 
                        class="form-control" 
                        id="diasRestantes"
                        type="number" 
                        disabled
                        value=12
                    />
                </div>
              

            </div>

        </div>
        
        <div class="vacaciones_calendario">
            
            <p-calendar 
                [locale]="es"
                class="max-w-full" 
                [(ngModel)]="date" 
                [inline]="true" 
            />

            

         <div class="contenedor_colores_status">

            <div class="colores">

                <div class="color_rojo"></div>
                <span> Denegado</span>
                
            </div>

            <div class="colores">

                <div class="color_amarillo"></div>
                <span>En espera</span>
                
            </div>

            <div class="colores">

                <div class="color_verde"></div>
                <span>aprobado</span>
                
            </div>
        </div>

        </div>


    </div>

</div>