/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
  pointer-events: all !important; // Activa las funciones de puntero a pesar de que este desactivado el elemento
}

:root {
  --colorPrimario: #621132;
  --colorSecundario: #70002d;
  --colorBordes: #EEEEEE;
  --hoverBoton: #ab1450;
  --colorPantalla: #EEEEEE;
  --colorBlanco: #ffffff;

}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700
body {
  background-color: var(--colorPantalla);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}


.form-control:focus {
  border-color: var(--colorPrimario);
  box-shadow: var(--colorPrimario) !important;
  box-shadow: #ab1450;
}


.p-datepicker table td > span.p-highlight {
    color: var(--colorPrimario);
    background: yellow;
    font-weight: bold;
}
